# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Node / JS
node_modules/
dist/
.npm
.eslintcache

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
